body
{
	background:  linear-gradient(90deg, rgba(0, 43, 220, 0.2) 0%, rgba(50, 222, 212, 0.2) 100%);
	
}
.container
{
	margin-top:10%;
}

/* ==== GRID SYSTEM ==== */
.resp-row {
	position: relative;
	width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.resp-col-1, .resp-col-2, .resp-col-3, .resp-col-4, .resp-col-5, .resp-col-6, .resp-col-7, .resp-col-8, .resp-col-9,
	.resp-col-10, .resp-col-11, .resp-col-12 {
	width: 100%;
}

.resp-col-1-sm {
	width: 6.90%;
}

.resp-col-2-sm {
	width: 15.36%;
}

.resp-col-3-sm {
	width: 23.82%;
}

.resp-col-4-sm {
	width: 32.29%;
}

.resp-col-5-sm {
	width: 40.75%;
}

.resp-col-6-sm {
	width: 49.21%;
}

.resp-col-7-sm {
	width: 57.68%;
}

.resp-col-8-sm {
	width: 66.14%;
}

.resp-col-9-sm {
	width: 74.60%;
}

.resp-col-10-sm {
	width: 83.07%;
}

.resp-col-11-sm {
	width: 91.53%;
}

.resp-col-12-sm {
	width: 100%;
}

.resp-row::after {
	content: "";
	display: table;
	clear: both;
}

@media only screen and (min-width: 960px) and  (orientation: landscape) {
	
	
	.resp-col-1 {
		width: 6.90%;
	}
	.resp-col-2 {
		width: 15.36%;
	}
	.resp-col-3 {
		width: 23.82%;
	}
	.resp-col-4 {
		width: 32.29%;
	}
	.resp-col-5 {
		width: 40.75%;
	}
	.resp-col-6 {
		width: 49.21%;
	}
	.resp-col-7 {
		width: 57.68%;
	}
	.resp-col-8 {
		width: 66.14%;
	}
	.resp-col-9 {
		width: 74.60%;
	}
	.resp-col-10 {
		width: 83.07%;
	}
	.resp-col-11 {
		width: 91.53%;
	}
	.resp-col-12 {
		width: 100%;
	}
	
	
}


/* POSITIONING */
.textleft {
	text-align: left;
}

.textright {
	text-align: right;
}

.textcenter{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.textjustify {
	text-align: justify;
}

.inlineblock {
	display: inline-block;
}

.blockdisplay {
	display: block;
}

.inlinedisplay {
	display: inline;
}

.displaynone{
	display:none;
}

.displayinlineflex{
	display:inline-flex;
}
